*{
    margin:0;
    padding:0;
    font-family: "Ubuntu";
    font-size: 14px;
    box-sizing: border-box;
}

body{
    display: flex;
}
.mainSection{
    flex: 5;
}
section{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #222A33;
    height: 100vh;
    padding: 20px;
}
section .data-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .data-info .profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
section .data-info img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid #449399;
}
section .data-info h1{
    font-size: 30px;
    text-align: center;
    color: #FFF;
    padding: 10px;
}
section .data-info .social-icons{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}
section .data-info .social-icons i{
    font-size: 30px;
    padding: 10px;
}
section .data-info .social-icons a{
    color: #FFF;
    text-align: center;
}
section .data-info .social-icons a:hover{
    color: #449399;
}

section .nav{
    display: flex;
    flex-direction: column;
}